@tailwind preflight;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Background color of the footer */
    background-color: #3d4852;
}

#root {
    min-height: 100%;
    position: relative;
    /* Background color of the content */
    background-color: #f8fafc;
    /* Height of the footer */
    padding-bottom: 60px;
}

.contentBlock {
    /* Background color of the content */
    background-color: #f8fafc;
}

.footerBlock {
    position: absolute;
    bottom: 0;
    /* Height of the footer */
    height: 60px;
    /* Background color of the footer */
    background-color: #3d4852;
}

p {
    padding-top: .5rem;
    padding-bottom: 0.75rem;
}
